<div class="header-menu">
    <div class="search"></div>
    <a [routerLink]="['/BindSave']" class="button blue-button">
        SAVE PRODUCT
    </a>
</div>

<div class="container-detail">
    <div class="tabbar">
        <div class="tab active" id="info">ข้อมูลทั่วไป</div>
        <div class="tab" id="unit">หน่วยนับ</div>
        <div class="tab" id="images">รูปภาพ</div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <h2>London</h2>
            <p>London is the capital of England.</p>
        </div>
        
        <div class="tab-pane" id="unit">
            <h2>Paris</h2>
            <p>Paris is the capital of France.</p>
        </div>
        
        <div class="tab-pane" id="images">
            <h2>Tokyo</h2>
            <p>Tokyo is the capital of Japan.</p>
        </div>
    </div>
    
      

    <input type="text" name="" id="" placeholder="Search Products">
</div>


<script>
    document.getElementById('tab').addEventListener("click", (e) => {
        console.log(e)
    });
</script>