<div class="header-menu">
    <div class="search"></div>
    <a [routerLink]="['/BindSave']" class="button blue-button">
        SAVE PRODUCT
    </a>
</div>

<div class="container-detail">
    <div class="tabbar">
        <div class="tab active" id="info" (click)="switchTab('info')">ข้อมูลทั่วไป</div>
        <div class="tab" id="unit" (click)="switchTab('unit')">หน่วยนับ</div>
        <div class="tab" id="images" (click)="switchTab('images')">รูปภาพ</div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <div class="text-header">ข้อมูลสินค้า</div>
            <!-- <form> -->
                <div class="form-group">
                    <span class="req"></span>
                    <label for="InvoiceNo" class="formLabel" title="เลขที่ใบแจ้งหนี้">เลขที่ใบแจ้งหนี้</label>
                    <div class="form-content">
                        <input type="text" name="" id="" placeholder="Search Products">
                    </div>
                </div>
                
                
                <div class="form-content">
                    <input type="text" name="" id="" placeholder="Search Products">
                </div>
                <div class="form-content">
                    <input type="text" name="" id="" placeholder="Search Products">
                </div>
                <div class="form-content">
                    <input type="text" name="" id="" placeholder="Search Products">
                </div>
            <!-- </form> -->
        </div>
        
        <div class="tab-pane" id="unit">
            <h2>Paris</h2>
            <p>Paris is the capital of France.</p>
        </div>
        
        <div class="tab-pane" id="images">
            <h2>Tokyo</h2>
            <p>Tokyo is the capital of Japan.</p>
        </div>
    </div>
    
      

    <input type="text" name="" id="" placeholder="Search Products">
</div>