.modal-header {
    height: 75px;
    justify-content: center;
    display: flex;

    /* height: 65px;
    width: 100%;
    margin: 24px 0 40px 0; */
}

.modal-content {
    height: 150px !important;
}

.modal-footer {
    height: 100px;
    justify-content: space-around;
    align-self: flex-end;
    display: flex;
}

.modal-footer > button {
    font-size: 16pt;
}