.mat-dialog-container {
    display: flex !important;
    padding-bottom: 10px !important;
    border-radius: 20px !important;
    width: 100% !important;
    padding: 0px !important;
    /* max-width: none !important; */
}

/* .cdk-overlay-pane {
    max-width: none !important;
} */

.modal-header {
    height: 55px;
    width: 100%;
    /* margin-top: 24px; */
    padding: 15px 0;
    padding: 0 1.3rem;
    display: flex;
    align-items: center;
}

.modal-header .title {
    color: black !important;
    font-size: 18pt;
}

.modal-content {
    padding: 0 1.3rem;
    /* margin-left: 2.6rem; */
    height: 450px;
    /* margin-bottom: 40px; */
    /* width: 1200px; */
}


.modal-content .mat-tab-nav-bar, .modal-content .mat-tab-header {
    border: none !important;
}

/* .modal-content > .content-header {
    margin-bottom: 20px;
} */

.modal-content mat-ink-bar {
    background-color: #20B49E !important;
}

.modal-content .mat-tab-body-wrapper {
    margin-top: 15px;
}

.modal-footer {
    padding: 0 1.3rem;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}