  <!-- <div class="overlay">
    <div class="center">
        <mat-progress-spinner diameter=50 mode="indeterminate" color="primary"></mat-progress-spinner> 
    </div>
  </div>     -->

  <mat-drawer-container>
    <mat-drawer [(opened)]="isToggle" mode="over">
      <div class="sidebar">
        <ul class="link">
          <li routerLink="Dashboard" (click)="isToggle = false" routerLinkActive="active">Dashboard</li>
          <li routerLink="POS" (click)="isToggle = false" routerLinkActive="active">POS</li>
          <li routerLink="ListProduct" (click)="isToggle = false" routerLinkActive="active">สินค้า</li>
          <li routerLink="ListUnit" (click)="isToggle = false" routerLinkActive="active">หน่วยนับ</li>
        </ul>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <app-top-bar (isToggle)="isToggle" (drawerToggle)="isToggle = $event"></app-top-bar>
        <div class="container">
          <!-- <div class="container-content">
            
          </div> -->
          <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
