  <!-- <div class="overlay">
    <div class="center">
        <mat-progress-spinner diameter=50 mode="indeterminate" color="primary"></mat-progress-spinner> 
    </div>
  </div>     -->

  <mat-drawer-container>
    <mat-drawer [(opened)]="isToggle" mode="over">I'm a drawer</mat-drawer>
    <mat-drawer-content>
      <app-top-bar (isToggle)="isToggle" (drawerToggle)="isToggle = $event"></app-top-bar>
        <div class="container-detail">
          <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
