<div class="close-dialog"><mat-icon (click)="baseService._closeDialog('PaymentModalComponent')">clear</mat-icon></div>
<div class="modal-content">    
    <h2>ยอดที่ต้องชำระ</h2>
    <span>{{ this.totalAmnt | number:'1.2-2'}} บาท</span>
</div>

<div class="modal-footer">
    <div class="payment">
        <input appOnlynumber type="text" class="form-input" [(ngModel)]="amntReceived" class="form-input" autocomplete="off">
        <button class="green-button" [disabled]="totalAmnt > amntReceived">ชำระเงิน</button>
    </div>  
</div>