.modal-header {
    text-align: center;
    height: 40px !important;
    margin-bottom: 0px;
}

.modal-content {
    height: 80px !important;
    margin-bottom: 20px;
}
.modal-content > h2 {
    color: #A4A8AB !important;
    font-weight: bold;
}

.modal-content > span {
    font-size: 22pt;
    font-weight: bold;
}

.modal-footer {
    height: 50px;
}

.payment > .form-input {
    width: 90%;
    height: 45px;
}

.payment > button {
    margin: 5px 0 0 -160px;
    position: absolute;
}