.content-menu {
    display: grid;
    grid-template-columns: 70% 30%;
}

.right-content {
    margin: 70px 0 0 10px;
}

/* .table td:nth-child(1), th:nth-child(1) {
    min-width: 50px;
}

.table td:nth-child(2), th:nth-child(2) {
    min-width: 200px;
}

.table td:nth-child(3), th:nth-child(3) { 
    min-width: 150px;
    width: 100%;
}

.table td:nth-child(4), th:nth-child(4) { 
    min-width: 150px;
}

.table td:nth-child(5), th:nth-child(5) { 
    min-width: 100px;
} */

.divTableCell:nth-child(1) > mat-icon:first-child {
    color: #20B49E;
    font-size: 16pt;
}

.divTableCell:nth-child(1) > mat-icon:last-child {
    color: #f44336;
    font-size: 16pt;
}

.divTableCell:nth-child(1), .divTableHead:nth-child(1) {
    width: 80px;
    justify-content: center;
}

.divTableCell:nth-child(2), .divTableHead:nth-child(2) {
    width: 240px;
}

.divTableCell:nth-child(3), .divTableHead:nth-child(3) {
    width: 300px;
}

.divTableCell:nth-child(4), .divTableHead:nth-child(4) {
    width: 250px;
}

.divTableCell:nth-child(5), .divTableHead:nth-child(5) {
    width: 100px;
}

.divTable{
	display: table;
	width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    table-layout: fixed;
}
.divTableRow {
	/* display: table-row; */
    display: flex;
    align-items: center;
}
.divTableHeading {
    padding-right: 20px;
    display: block;
    overflow: hidden;
    /* display: table-header-group; */
    font-weight: bold;
}

.divTableHeading  div.divTableCell {
    padding: 0 15px;
}

.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    height: 450px;
    padding-right: 10px;
    width: fit-content;
}

.divTableBody > div.divTableRow:first-child {
    background-color: #FFFFFF;
    height: 44px;
    margin-top: 10px;
}

.divTableBody > div.divTableRow {
    background-color: #FFFFFF;
    height: 44px;
    margin-top: 10px;
}

.divTableBody div.divTableCell {
    padding: 15px;
    display: flex;
}

.divTableBody button {
    background: transparent;
    min-width: 50px;
}

.divTableBody button > mat-icon {
    color: #B5C2C8;
}



.grid-inline > form {
    display: contents;
}

.grid-inline.validate {
    height: 80px !important;
}

.grid-inline.validate .divTableCell {
    height: 80px !important;
    flex-direction: column;
}

.grid-inline.validate .divTableCell:nth-child(1) {
    padding-bottom: 28px;
}

.grid-inline .divTableCell:nth-child(1) {
    width: 80px;
    flex-direction: initial;
    align-items: center;
    justify-content: space-around;
}

.grid-inline .divTableCell > input {
    width: 100%;
}

.grid-inline input {
    margin-bottom: 0px !important;
}
