<!-- <div class="top-bar">
    <h1>หน่วยนับทั้งหมด</h1>
</div> -->

<div class="header-menu">
    <h1><b>หน่วยนับทั้งหมด</b></h1>
    <!-- <div class="search">
        <i class="material-icons">search</i>
        <input type="text" name="" id="" placeholder="Search Products">
    </div> -->

    <div class="groupAction">
        <button class="blue-button" (click)="callUnitModal()">
            <mat-icon>note_add</mat-icon>Add Unit
        </button>

        <button class="multipleAction" [matMenuTriggerFor]="menu" disabled>
            <i class="material-icons">more_horiz</i> 
            <span>Action</span>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <i class="material-icons">dialpad</i>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
            <i class="material-icons">voicemail</i>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <i class="material-icons">notifications_off</i>
            <span>Disable alerts</span>
        </button>
        </mat-menu>
    </div>
</div>
<mat-divider></mat-divider>

<div class="content-menu">
    <div class="left-content">
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead"></div>
                    <div class="divTableHead">รหัสหน่วยนับ</div>
                    <div class="divTableHead">ชื่อหน่วยนับ</div>
                    <div class="divTableHead">ชื่อหน่วยนับภาษาอังกฤษ</div>
                    <div class="divTableHead">CREATED DATE</div>
                    <div class="divTableHead"></div>
                </div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow grid-inline" *ngFor="let unit of addUnit" [ngClass]="_unit.unitName.invalid && (_unit.unitName.dirty || _unit.unitName.touched) ? 'validate' : ''">
                    <form [formGroup]="unitForm">
                        <div class="divTableCell">
                            <mat-icon (click)="acceptAddUnit()">done</mat-icon>
                            <mat-icon (click)="cancelAddUnit()">clear</mat-icon>
                        </div>
    
                        <div class="divTableCell">
                            <input type="text" id="unitNo" formControlName="unitNo">
                            <input type="hidden" id="runningFormatID" formControlName="runningFormatID">
                        </div>

                        <div class="divTableCell">
                            <input type="text" id="unitName" formControlName="unitName" class="form-input" placeholder="กรอกชื่อหน่วยนับ" autocomplete="off" required maxlength="255">
                            <div *ngIf="_unit.unitName.invalid && (_unit.unitName.dirty || _unit.unitName.touched)" class="alert-validate">
                                <div *ngIf="_unit.unitName.errors.required"><span>กรุณากรอกชื่อหน่วยนับ.</span></div>
                            </div>
                        </div>

                        <div class="divTableCell">
                            <input type="text" id="unitNameEng" formControlName="unitNameEng" class="form-input" placeholder="ชื่อหน่วยนับภาษาอังกฤษ" autocomplete="off" maxlength="255">
                        </div>

                        <div class="divTableCell">
                            <input type="text" id="createdDate" formControlName="createdDate">
                        </div>
                    </form>
                </div>

                <div class="divTableRow" *ngFor="let unit of unitService.units" (click)="showDetail($event, unit.unitID, unit.isCheck)">
                    <div class="divTableCell"><mat-checkbox [color]="'primary'" [checked]="unit.isCheck"></mat-checkbox></div>
                    <div class="divTableCell">{{ unit.unitNo }}</div>
                    <div class="divTableCell">{{ unit.unitName }}</div>
                    <div class="divTableCell">{{ unit.unitNameEng }}</div>
                    <div class="divTableCell">{{ unit.createdDate }}</div>
                    <div class="divTableCell">
                        <button mat-icon-button [matMenuTriggerFor]="menuAction">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <!-- <table class="table">
            <div class="">
                <thead>
                    <tr>
                        <th></th>
                        <th class="txt-l">รหัสหน่วยนับ</th>
                        <th class="txt-l">ชื่อหน่วยนับ</th>
                        <th class="txt-l">CREATED DATE</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unit of units" (click)="showDetail($event, unit.unitID, unit.isCheck)" [ngClass]="unit.isCheck ? 'active' : ''">
                        
                        <td>
                            <mat-checkbox [color]="'primary'" [checked]="unit.isCheck"></mat-checkbox>
                        </td>
                        <td>{{ unit.unitNo }}</td>
                        <td>{{ unit.unitName }}</td>
                        <td>{{ unit.createdDate }}</td>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menuAction">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </div>            
            <tfoot>
                <div class="pagination">
                    <a>&laquo;</a>
                    <a>1</a>
                    <a>2</a>
                    <a>...</a>
                    <a>10</a>
                    <a>&raquo;</a>
                </div>
            </tfoot>
        </table> -->
    </div>
    
    <div class="right-content">
        <div class="form-group">
            <span class="req"></span>
            <label for="productNo" class="formLabel" title="รหัสหน่วยนับ">รหัสหน่วยนับ</label>
            <label for="productNo" class="formLabel" title="รหัสหน่วยนับ" >{{ unitNo }}</label>
        </div>

        <div class="form-group">
            <span class="req"></span>
            <label for="productNo" class="formLabel" title="ชื่อหน่วยนับ">ชื่อหน่วยนับ</label>
            <label for="productNo" class="formLabel" title="ชื่อหน่วยนับ">{{ unitName }}</label>
        </div>

        <div class="form-group">
            <span class="req"></span>
            <label for="productNo" class="formLabel" title="CREATED DATE">CREATED DATE</label>
            <label for="productNo" class="formLabel" title="CREATED DATE">{{ createdDate }}</label>
        </div>
    </div>

    <mat-menu #menuAction="matMenu">
        <button mat-menu-item (click)="callUnitModal()">
            <mat-icon>create</mat-icon>
            <span>แก้ไขหน่วยนับ</span>
        </button>
        <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>ลบหน่วยนับ</span>
        </button>
    </mat-menu>
</div>