.content-menu {
    display: grid;
    grid-template-columns: 70% 30%;
}

.right-content {
    margin: 70px 0 0 10px;
}

.grid-inline-cell:nth-child(1), .grid-inline-header:nth-child(1) {
    min-width: 50px;
    justify-content: center;
}

.grid-inline-cell:nth-child(2), .grid-inline-header:nth-child(2) {
    min-width: 80px;
    justify-content: center;
}

.grid-inline-cell:nth-child(3), .grid-inline-header:nth-child(3) {
    min-width: 180px;
}

.grid-inline-cell:nth-child(4), .grid-inline-header:nth-child(4) {
    min-width: 260px;
}

.grid-inline-cell:nth-child(5), .grid-inline-header:nth-child(5) {
    min-width: 260px;
}

.grid-inline-cell:nth-child(6), .grid-inline-header:nth-child(6) {
    min-width: 160px;
}

.grid-inline-cell:nth-child(7), .grid-inline-header:nth-child(7) {
    min-width: 100px;
}

