<!-- <div class="top-bar">
    <h1>หน่วยนับทั้งหมด</h1>
</div> -->

<div class="header-menu">
    <h1><b>หน่วยนับทั้งหมด</b></h1>
    <!-- <div class="search">
        <i class="material-icons">search</i>
        <input type="text" name="" id="" placeholder="Search Products">
    </div> -->

    <div class="groupAction">
        <button class="green-button" (click)="manageUnit(null)">
            เพิ่มหน่วยนับ
        </button>
        <button class="multipleAction" [matMenuTriggerFor]="menu">
            <i class="material-icons">more_horiz</i> 
            <span>Action</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="bindDeleteMulti()">
                <mat-icon>delete</mat-icon>
                <span>ลบหน่วยนับ</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>file_upload</mat-icon>
                <span>นำเข้าหน่วยนับ</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>file_download</mat-icon>
                <span>นำออกหน่วยนับ</span>
            </button>
        </mat-menu>
    </div>
</div>
<mat-divider></mat-divider>

<div class="content-menu">
    <div class="left-content">
        <div class="table grid-inline" data-gridtype="gridSelectMulti" data-gridid="gridUnit" tableControl>
            <div class="grid-inline-groupHeader">
                <div class="grid-inline-row">
                    <div class="grid-inline-header"></div>
                    <div class="grid-inline-header"></div>
                    <div class="grid-inline-header">รหัสหน่วยนับ</div>
                    <div class="grid-inline-header">ชื่อหน่วยนับ</div>
                    <div class="grid-inline-header">ชื่อหน่วยนับภาษาอังกฤษ</div>
                    <div class="grid-inline-header">CREATED DATE</div>
                    <div class="grid-inline-header"></div>
                </div>
            </div>
            <div class="grid-inline-body">
                <div *ngFor="let unit of unitService.units" >
                    <div class="grid-inline-row" [attr.data-id]="unit.unitID" *ngIf="!unit.isAdd; else isAdd">
                        <div class="grid-inline-cell">
                            <mat-checkbox #myCheckbox [color]="'primary'" [checked]="unit.isCheck"></mat-checkbox>
                        </div>
                        <div class="grid-inline-cell">
                            <mat-icon (click)="manageUnit(unit.unitID)">edit</mat-icon>
                            <mat-icon (click)="deleteUnit(unit.unitID)">delete_outline</mat-icon>
                        </div>
                        <div class="grid-inline-cell">{{ unit.unitNo }}</div>
                        <div class="grid-inline-cell">{{ unit.unitName }}</div>
                        <div class="grid-inline-cell">{{ unit.unitNameEng }}</div>
                        <div class="grid-inline-cell">{{ unit.createdDate }}</div>
                    </div>
                    <ng-template #isAdd>
                        <div class="grid-inline-row grid-inline" [ngClass]="_unit.unitName.invalid && (_unit.unitName.dirty || _unit.unitName.touched) ? 'validate' : ''">
                            <form [formGroup]="unitForm">
                                <div class="grid-inline-cell"></div>
                                <div class="grid-inline-cell">
                                    <mat-icon (click)="acceptUnit(unit.unitID)">done</mat-icon>
                                    <mat-icon (click)="cancelUnit()">clear</mat-icon>
                                </div>
            
                                <div class="grid-inline-cell">
                                    <input type="text" id="unitNo" formControlName="unitNo">
                                    <input type="hidden" id="runningFormatID" formControlName="runningFormatID">
                                </div>
        
                                <div class="grid-inline-cell">
                                    <input type="text" id="unitName" formControlName="unitName" class="form-input" placeholder="กรอกชื่อหน่วยนับ" autocomplete="off" required maxlength="255">
                                    <div *ngIf="_unit.unitName.invalid && (_unit.unitName.dirty || _unit.unitName.touched)" class="alert-validate">
                                        <div *ngIf="_unit.unitName.errors.required"><span>กรุณากรอกชื่อหน่วยนับ.</span></div>
                                    </div>
                                </div>
        
                                <div class="grid-inline-cell">
                                    <input type="text" id="unitNameEng" formControlName="unitNameEng" class="form-input" placeholder="ชื่อหน่วยนับภาษาอังกฤษ" autocomplete="off" maxlength="255">
                                </div>
        
                                <div class="grid-inline-cell">
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    
    <div class="right-content">
        <div class="form-group">
            <span class="req"></span>
            <label for="productNo" class="formLabel" title="รหัสหน่วยนับ">รหัสหน่วยนับ</label>
            <label for="productNo" class="formLabel" title="รหัสหน่วยนับ" >{{ unitNo }}</label>
        </div>

        <div class="form-group">
            <span class="req"></span>
            <label for="productNo" class="formLabel" title="ชื่อหน่วยนับ">ชื่อหน่วยนับ</label>
            <label for="productNo" class="formLabel" title="ชื่อหน่วยนับ">{{ unitName }}</label>
        </div>

        <div class="form-group">
            <span class="req"></span>
            <label for="productNo" class="formLabel" title="CREATED DATE">CREATED DATE</label>
            <label for="productNo" class="formLabel" title="CREATED DATE">{{ createdDate }}</label>
        </div>
    </div>
</div>