.pos-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    padding: 10px;
    height: 100%;
}

.pos-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 15px;
    font-size: 18px;
}

/* Product */
.product-filter {
    padding: 30px;
}

.product-filter > button {
    /* padding: 30px; */
    background-color: transparent;
    color: black;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.product-filter > button.active {
    color: #76CA3D;
    /* background-color: #F07613; */
}

.product-items {
    display: grid;
    /*
        โดย Grid ของเราแบ่งออกเป็น 3 แถว
        แถวที่1: สูง 50px
        แถวที่2: สูง 200px
        แถวที่3: สูง 50px
    */
    grid-template-rows:  auto auto auto;

    /*
        ให้ Grid ของเราแบ่งออกเป็น 2 คอลัมภ์
        คอลัมภ์ 1: กว้าง 200px
        คอลัมภ์ 2: กว้าง 500px
    */
    grid-template-columns: 30% 30% 30%;
    grid-gap: 30px;
    align-content: baseline;
    justify-content: center;
    height: calc(90vh - 100px);
    /* display: block; */
    overflow-y: scroll;
    padding: 10px 0;
}

.product-column {
    border: #e7e5e5 1px solid;
    border-radius: 10px;
    height: 150px;
    width: 100%;
    /* margin: 20px; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.product-column > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #76CA3D !important;    
}

.product-column:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px  #4BAEE5;
}

/* Summary */
.summary {
    background-color: #FDFDFB !important;
}

.summary div.search {
    width: 80%;
}

.summary div.search > input {
    min-width: 200px;
}

.summary .header-menu {
    height: 10vh;
    margin: 0;
    padding: 10px 0;
}

.header-menu > button.clear-all {
    margin-left: 10px;
    min-width: 120px;
    background-color: #20B49E;
}

.summary-content {
    min-height: 300px;
    height: calc(80vh - (255px + 50px + 20px));
    display: block;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
}

.summary-content.empty-cart {
    display: flex;
    justify-content: center;
}

.content-detail {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 10px;
    height: 40px;
    align-items: center;
}

.content-detail > div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-detail > div:last-child {
    text-align: right;
    padding-right: 30px;
    font-weight: bold;
}

.summary-footer {
    height: 230px;
    padding: 15px 10px;
    box-shadow: 0px 3px 10px 0px rgb(50, 50, 50, .5);
    border-radius: 10px;
    background-color: white;
}

.summary-footer > div {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 10px;
    align-items: baseline;
    padding-right: 10px;
}

.summary-action {
    height: 50px;
    margin-top: 20px;
}

.summary-action > button {
    background-color: #20B49E;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}

.stepper {
    display: flex;
}

.stepper > button {
    border-radius: 10px;
    min-width: 35px !important;
    width: 35px;
    height: 35px;
    background-color: #F4F5F6;
}

/* .stepper > button:first-child:hover {    
    background-color: red;    
}

.stepper > button > i:hover {    
    color: white;
} */

.stepper > span {
    text-align: center;
    width: 50px;
    align-self: center;
}


/* RESPONSIVE */
@media only screen and (min-width: 1200px) and (max-width: 1400px) { 
    .pos-container {
        grid-template-columns: 65% 35%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .pos-container {
        grid-template-columns: 60% 40%;
    }

    .product-items {
        grid-template-rows: auto;
        grid-template-columns: 45% 45%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) { 
    .pos-container {
        grid-template-columns: 50% 50%;
    }

    .product-items {
        grid-template-rows: auto;
        grid-template-columns: 80%;
    }
}