.pos-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    padding: 10px;
    height: 100%;
}

.pos-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 15px;
    font-size: 18px;
}

/* Product */
.product-content {
    display: grid;
    /*
        โดย Grid ของเราแบ่งออกเป็น 3 แถว
        แถวที่1: สูง 50px
        แถวที่2: สูง 200px
        แถวที่3: สูง 50px
    */
    grid-template-rows: 150px;

    /*
        ให้ Grid ของเราแบ่งออกเป็น 2 คอลัมภ์
        คอลัมภ์ 1: กว้าง 200px
        คอลัมภ์ 2: กว้าง 500px
    */
    grid-template-columns: 20% 20% 20% 20%;
    /* grid-gap: 20px; */


    /* grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 120px;
    grid-gap: 10px;
    align-items: baseline;
    padding: 10px; */
    grid-gap: 15px;
}

.product-column {
    border: black 1px solid;
    border-radius: 10px;
    height: 120px;
    width: 100%;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-column > div:last-child {
    color: #F07613 !important;
    font-weight: bold;
}

.product-column:hover {
    border: #4BAEE5  1px solid;
}

/* Summary */
.summary {
    background-color: #FDFDFB !important;
}

.summary div.search > input {
    width: 100%;
}

.summary .header-menu {
    height: 10vh;
    margin: 0;
    padding: 10px 0;
}

.summary-content {
    min-height: 300px;
    height: calc(80vh - (255px + 50px + 20px));
    /* overflow: auto;     */
    display: block;
    /* width: 100%     */
    /* height: 50%; */
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}

/* .summary-content > div {
    height: 40px;
}  */

.content-detail {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 10px;
    /* padding: 10px; */
    height: 40px;
    align-items: center;
}

.content-detail > div:first-child {
    white-space: nowrap; 
    /* width: 50px;  */
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-detail > div:last-child {
    text-align: right;
    padding-right: 30px;
    font-weight: bold;
}

.summary-footer {
    height: 230px;
    /* height: 30%; */
    padding: 15px 10px;
    /* box-shadow: 0px 0px 15px 0px rgb(50, 50, 50, .5); */
    box-shadow: 0px 3px 10px 0px rgb(50, 50, 50, .5);
    border-radius: 10px;
    /* border: 1px solid black; */
    background-color: white;
}

.summary-footer > div {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 10px;
    align-items: baseline;
    padding-right: 10px;
}

/* .sub-footer {
 
} */

.summary-action {
    height: 50px;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.summary-action > button {
    background-color: #F07613;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}

.stepper {
    display: flex;
}

.stepper > button {
    border-radius: 10px;
    min-width: 35px !important;
    width: 35px;
    height: 35px;
    background-color: #F4F5F6;
}

/* .stepper > button:first-child:hover {    
    background-color: red;    
}

.stepper > button > i:hover {    
    color: white;
} */

.stepper > span {
    text-align: center;
    /* padding: 3px; */
    width: 50px;
    align-self: center;
}