<div class="pos-container">
    <div class="product-content">
        <div *ngFor="let product of POSservice.objProduct" class="product-column">
            <div>{{ product.productName }}</div>
            <div>
                <!-- <img src="assets/images/no-image.png" width="60"> -->
                <div>{{ product.productPrice }}</div>
            </div>
        </div>
    </div>

    <div class="summary">
        <div class="header-menu">
            <div class="search w100p">
                <i class="material-icons">search</i>
                <input type="text" class="w100p" placeholder="รหัสบาร์โค้ด / ชื่อสินค้า" [(ngModel)]="textSearch" (change)="getProductByBarcode_text()">
            </div>
        </div>
        <div class="summary-content">
            <!-- <div class="content-warpper"> -->
                <div *ngFor="let product of cartModel.products" class="content-detail">
                    <div title="{{ product.productName }}">{{ product.productName }}</div>
                    <div class="stepper">
                        <button (click)="manageQuatity(false, product.productID)"><i class="material-icons">remove</i></button>
                        <span>{{ product.productQuantity | number:'1.0' }}</span>
                        <button (click)="manageQuatity(true, product.productID)"><i class="material-icons">add</i></button>
                    </div>
                    <div>
                        {{ product.productTotalPrice | number:'1.2-2' }}
                    </div>
                </div>
            <!-- </div> -->
        </div>
        <div class="summary-footer">
            <div>
                <p>รวมเงิน : </p>
                <input type="text" [ngModel]="cartModel.summary.subTotal">
                <!-- <p class="txt-r">{{ 2500 | number:'1.2-2' }}</p> -->
            </div>
            <div>
                <p>ส่วนลด : </p>
                <div class="form-content">
                    <input type="text" [(ngModel)]="cartModel.summary.discount" class="form-input" disabled>
                </div>
                
            </div>
            <!-- <div>
                <p>ส่วนลด : </p>
                <div class="form-content">
                    <input type="text" class="form-input txt-r" disabled [(ngModel)]="totalAmnt">
                </div>
            </div> -->
            <div>
                <p>ประเภทการชำระ : </p>
                <mat-select [ngModel]="cartModel.summary.paymentSeleted">
                    <mat-option *ngFor="let pt of POSservice.paymentModel" [value]="pt.paymentType">{{ pt.paymentName }}</mat-option>
                </mat-select>
            </div>
            <hr>
            <div>
                <p>รวมเงิน : </p>
                <input type="text" [ngModel]="cartModel.summary.totalAmnt">
            </div>
        </div> 
        <div class="summary-action">
            <button class="blue-button" (click)="callPaymentModal()" [disabled]="!cartModel.products">
                ชำระเงิน (Space Bar)
            </button>
        </div>
    </div>
</div>