<div class="modal-header">
    <h1>รายละเอียดสินค้า</h1>
</div>

<div class="modal-content">
    <form #productForm="ngForm">
        <div class="text-header">ข้อมูลสินค้า</div>
        <div class="product-info">
            <div class="form-group fullrow">
                <span class="req"></span>
                <label for="ProductNo" class="formLabel" title="รหัสสินค้า">รหัสสินค้า</label>
                <div class="form-content">
                    <input type="text" name="productNo" #productNo="ngModel" [(ngModel)]="formData.productNo" disabled value="GD-001">
                </div>
            </div>
            <div class="form-group">
                <span class="req">*</span>
                <label for="ProductNo" class="formLabel" title="ชื่อสินค้า">ชื่อสินค้า</label>
                <div class="form-content">
                    <input type="text" name="productName" #productName="ngModel" [(ngModel)]="formData.productName" placeholder="กรอกชื่อสินค้า">
                </div>
            </div>
            <div class="form-group">
                <span class="req"></span>
                <label for="ProductNo" class="formLabel" title="ชื่อสินค้าภาษาอังกฤษ">ชื่อสินค้าภาษาอังกฤษ</label>
                <div class="form-content">
                    <input type="text" name="productNameEng" #productNameEng="ngModel" [(ngModel)]="formData.productNameEng" placeholder="ชื่อสินค้าภาษาอังกฤษ">
                </div>
            </div>
            <div class="form-group fullrow">
                <span class="req"></span>
                <label for="ProductNo" class="formLabel" title="รายละเอียดสินค้า">รายละเอียดสินค้า</label>
                <div class="form-content">
                    <textarea name="productDesc" #productDesc="ngModel" [(ngModel)]="formData.productDesc" rows="3" placeholder="กรอกรายละเอียดสินค้า"></textarea>
                </div>
            </div>
            <div class="form-group">
                <span class="req">*</span>
                <label for="ProductNo" class="formLabel" title="ราคาขาย">ราคาขาย</label>
                <div class="form-content">
                    <input type="text" name="productSalePrice" #productSalePrice="ngModel" [(ngModel)]="formData.productSalePrice" placeholder="ราคาขาย">
                </div>
            </div>
            <div class="form-group">
                <span class="req"></span>
                <label for="ProductNo" class="formLabel" title="ราคาซื้อ">ราคาซื้อ</label>
                <div class="form-content">
                    <input type="text" name="productPurchasePrice" #productPurchasePrice="ngModel" [(ngModel)]="formData.productPurchasePrice" placeholder="ราคาซื้อ">
                </div>
            </div>
            <div class="form-group">
                <span class="req"></span>
                <label for="ProductNo" class="formLabel" title="หน่วยสินค้า">หน่วยสินค้า</label>
                <div class="form-content">
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form-group">
                <span class="req"></span>
                <label for="ProductNo" class="formLabel" title="หมวดสินค้า">หมวดสินค้า</label>
                <div class="form-content">
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        
        <div class="text-header">ข้อมูลหน่วยนับ</div>
        <div class="unit-info">
            <table class="table">
                <thead>
                    <tr>
                        <th class="action">
                            <a class="button blue-button" (click)="addUnit()">
                                เพิ่มหน่วยนับ
                            </a>
                        </th>
                        <th class="">บาร์โค้ด</th>
                        <th class="">หน่วยนับ</th>
                        <th class="txt-c">หน่วยนับหลัก</th>
                    </tr>
                </thead>
                <tbody id='test'>
                    <tr *ngFor="let field of formData.unitModel; let i = index;">
                        <td class="txt-c" *ngIf="field.isFoucs; else editAccept">
                            <i class="material-icons" (click)="changeisFoucs(field.uid, false)">done</i>
                            <i class="material-icons">clear</i>
                        </td>
                        <ng-template #editAccept>
                            <td class="txt-c">                            
                                <i class="material-icons" (click)="changeisFoucs(field.uid, true)">edit</i>
                                <i class="material-icons">delete_outline</i>
                            </td>
                        </ng-template>
                        
                        <td>
                           <input type="text" name="barcode" class="form-input" #barcode="ngModel" [(ngModel)]="field.barcode" placeholder="รหัสบาร์โค้ด" [attr.disabled]="!field.isFoucs ? 'disabled' : null">
                        </td>
                        <td>
                            <mat-select [disabled]="field.isFoucs === false">
                                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                            </mat-select>
                        </td>
                        <td class="txt-c">
                            <mat-checkbox [color]="'primary'" #isBaseUnit="ngModel" [(ngModel)]="field.isBaseUnit" [disabled]="!field.isFoucs ? 'disabled' : null">หน่วยนับหลัก</mat-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-header">รายละเอียดอื่นๆ</div>
    </form>
</div>
<div class="modal-footer">
    <div class="form-group">
        <a class="button light-button" (click)="closeDialog()">ยกเลิก</a>
        <a class="button success-button">บันทึก</a>
    </div>
</div>