<div class="modal-header">
    <h1>เพิ่มสินค้า</h1>
</div>

<div class="modal-content">
    <form [formGroup]="productForm">
        <div class="text-header">ข้อมูลสินค้า</div>
        <div class="product-info">
            <div class="form-group fullrow">
                <span class="req"></span>
                <label for="productNo" class="formLabel" title="รหัสสินค้า">รหัสสินค้า</label>
                <div class="form-content">
                    <input type="text" id="productNo" formControlName="productNo">
                    <input type="hidden" id="runningFormatID" formControlName="runningFormatID">
                </div>
            </div>
            <div class="form-group">
                <span class="req">*</span>
                <label for="productName" class="formLabel" title="ชื่อสินค้า">ชื่อสินค้า</label>
                <div class="form-content">
                    <input type="text" id="productName" formControlName="productName" placeholder="กรอกชื่อสินค้า" autocomplete="off" required maxlength="255">
                    <div *ngIf="product.productName.invalid && (product.productName.dirty || product.productName.touched)" class="alert-danger">
                        <div *ngIf="product.productName.errors.required"><span>กรุณากรอกชื่อสินค้า.</span></div>
                        <!-- <div *ngIf="product.productName.errors.maxlength">Name must be at least 4 characters long.</div> -->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span class="req"></span>
                <label for="productNameEng" class="formLabel" title="ชื่อสินค้าภาษาอังกฤษ">ชื่อสินค้าภาษาอังกฤษ</label>
                <div class="form-content">
                    <input type="text" id="productNameEng" formControlName="productNameEng" placeholder="ชื่อสินค้าภาษาอังกฤษ" autocomplete="off">
                </div>
            </div>
            <div class="form-group fullrow">
                <span class="req"></span>
                <label for="productDesc" class="formLabel" title="รายละเอียดสินค้า">รายละเอียดสินค้า</label>
                <div class="form-content">
                    <textarea id="productDesc" formControlName="productDesc" rows="3" placeholder="กรอกรายละเอียดสินค้า" autocomplete="off" maxlength="255"></textarea>
                </div>
            </div>
            <div class="form-group">
                <span class="req">*</span>
                <label for="productSalePrice" class="formLabel" title="ราคาขาย">ราคาขาย</label>
                <div class="form-content">
                    <input appOnlynumber type="text" id="productSalePrice" formControlName="productSalePrice" placeholder="ราคาขาย" autocomplete="off" required maxlength="10">
                    <div *ngIf="product.productSalePrice.invalid && (product.productSalePrice.dirty || product.productSalePrice.touched)" class="alert-danger">
                        <div *ngIf="product.productSalePrice.errors.required"><span>กรุณากรอกราคาขาย</span></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span class="req"></span>
                <label for="productPurchasePrice" class="formLabel" title="ราคาซื้อ">ราคาซื้อ</label>
                <div class="form-content">
                    <input appOnlynumber type="text" id="productPurchasePrice" formControlName="productPurchasePrice" placeholder="ราคาซื้อ" autocomplete="off">
                </div>
            </div>
        </div>
        
        <div class="text-header">ข้อมูลหน่วยนับ</div>
        <div class="unit-info">
            <table class="table">
                <thead>
                    <tr>
                        <th class="action">
                            <a class="button blue-button" (click)="addUnit()">
                                เพิ่มหน่วยนับ
                            </a>
                        </th>
                        <th class="">บาร์โค้ด</th>
                        <th class="">หน่วยนับ</th>
                        <th class="txt-c">หน่วยนับหลัก</th>
                    </tr>
                </thead>
                <tbody id='test'>
                    <div formArrayName="productUnits">
                        <tr *ngFor="let field of productUnits; let i = index;" [formGroupName]="i">
                            <td class="txt-c" *ngIf="field.value.isFocus; else editAccept">
                                <i class="material-icons" (click)="changeisFocus(field.value.uid, false, i)">done</i>
                                <i class="material-icons">clear</i>
                            </td>
                            <ng-template #editAccept>
                                <td class="txt-c">                            
                                    <i class="material-icons" (click)="changeisFocus(field.value.uid, true, i)">edit</i>
                                    <i class="material-icons">delete_outline</i>
                                </td>
                            </ng-template>
                            
                            <td>
                                <input type="text" id="barcode" class="form-input" formControlName="barcode"  placeholder="รหัสบาร์โค้ด" autocomplete="off">                               
                            </td>
                            <td>
                                <mat-select formControlName="unitID" [disabled]="!field.value.isFocus">
                                    <mat-option *ngFor="let un of service.listUnit" [value]="un.unitID">{{un.unitName}}</mat-option>
                                </mat-select>
                                <div *ngIf="field.controls.unitID.invalid && (field.controls.unitID.dirty || field.controls.unitID.touched)" class="alert-danger">
                                    <div *ngIf="field.controls.unitID.errors.required"><span>กรุณาเลือกหน่วยนับ.</span></div>
                                </div>
                            </td>
                            <td class="txt-c">
                                <mat-checkbox [color]="'primary'" formControlName="isBaseUnit" [checked]="field.isBaseUnit">หน่วยนับหลัก</mat-checkbox>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>

        <!-- <div class="text-header">รายละเอียดอื่นๆ</div> -->
    </form>
</div>
<div class="modal-footer">
    <div class="form-group">
        <a class="button light-button" (click)="closeDialog(false)">ยกเลิก</a>
        <a class="button success-button" (click)="bindSave()">บันทึก</a>
    </div>
</div>