.product-info {
    display: grid;
    grid-template-columns: 50% 40%;
}

.unit-info {
    padding: 0 2rem;
}

.unit-info .button {
    height: 30px;
    min-width: 110px;
}

.form-content > input, textarea {
    width: 320px;
}

.product-info .form-group.fullrow {
    grid-column: 1/3;
}

