.product-info {
    display: grid;
    grid-template-columns: 50% 40%;
}

.product-info .form-content > input, textarea {
    width: 320px;
}

.product-info .form-group.fullrow {
    grid-column: 1/3;
}