@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
    color: #616161;
    box-sizing: border-box;
    font-family: 'Athiti';
    /* font-family: 'RSU'; */
}

body {
    margin: 0;
    background: #F0F3F7;
    /* font-family: 'Athiti'; */
}

.container {
    width: calc(100% - 35px);
    height: calc(var(--vh, 1vh)*100);
    margin: 0 2rem;
    background: white;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 0;
}

.container-detail {
    padding: 0 2rem;
    position: relative;
    height: 95%;
}

/* router-outlet + * {
    padding: 0 16px;
} */

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h1, h2 {
    font-weight: bold;
}

p {
    font-size: 14px;
}
a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #dbdbdb;
}

label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}

.button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: .25rem;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
    min-width: 150px;
    justify-content: center;
}

.button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
}

.button.disabled, button:disabled {
    opacity: .65;
    cursor: auto;
}

.blue-button {
    background-color: #4BAEE5;
    color: white;
    height: 35px;
}

.primary-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.success-button {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.light-button {
    color: #212529;
    background-color: #dae0e5;
    border-color: #e6e9ee;
}

.blue-button i.material-icons {
    color: white;
    padding-right: 4px;
}

.top-bar {
    height: 50px;
    width: 100%;
    /* border-bottom: 1px solid #a9adb3; */
}

app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #35464F;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

app-top-bar h1{
    color: white;
    margin: 0;
}

.app-main {
    display: grid;
    grid-template-columns: 10vw auto;
}

app-left-bar {
    height: 100vh;
    width: 10vw;
    background: white;
    display: flex;
    flex-direction: row;
}

/* app-product {
    width: 100%;
    padding: 16px;
} */

.header-menu {
    width: 100%;
    height: 40px;
    /* background: white; */
    /* margin: 0 auto;
    margin: 10px 0; */
    border: none;
    /* padding: 16px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.header-menu h1{
    margin: 0;
}

/* Text */
.txt-l {
    text-align: left;
}

.txt-c {
    text-align: center;
}

.txt-r {
    text-align: right;
}

input[type="checkbox"] {
    display: block;
    margin: 2px 5px 0 0;
    padding: 0;
    width: 16px;
    height: 16px;
    /* background: url(assets/images/blue.png) no-repeat; */
    border: none;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    border-color: blue;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.search i.material-icons {
    margin: 10px 0 0 10px;
    position: absolute;
}

.search input[type="text"] {
    border-radius: 10px;
    padding-left: 40px;
    min-width: 450px;
}

.search input[type="text"]:hover, .search input[type="text"]:focus{
    border-color: #4BAEE5 !important;
}

.pagination {
    /* display: flex;
    justify-content: flex-end; */
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    color: white;
    background-color: #4BAEE5;
    border: solid 1px #1976d2;
}

/* Transition */
.w5-vw {
    width: 5vw;
}

.w10-vw {
    width: 10vw;
}

.w20-vw {
    width: 20vw;
}

.w30-vw {
    width: 30vw;
}

.w40-vw {
    width: 40vw;
}

.w45-vw {
    width: 40vw;
}

.w50-vw {
    width: 50vw;
}

.w60-vw {
    width: 60vw;
}

.w70-vw {
    width: 70vw;
}

.w80-vw {
    width: 80vw;
}

.w50-px {
    width: 50px;
}

/* .table-wrapper {
    overflow-y: scroll;
    flex-grow: 1;
    height: 70%;
}
  
.table-wrapper th {
    position: sticky;
    top: 0;
    font-size: 18px;
    color: black;
    line-height: 1.2;
    font-weight: bold;
}
  
.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,td {
    font-size: 15px;
    color: black;
    line-height: 1.2;
    font-weight: bold;
    border-top: 1px solid #a9adb3;
    border-bottom: 1px solid #a9adb3;
    height: 50px;
    padding: .6em 1em;
}

.table td i.material-icons {
    font-size: 16px;
}

.table tr:last-child .cell {
    border-bottom: none;
}

.table tr:not(.header):hover {
    background: #ECF5FF !important;
} */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.tabbar {
    margin-bottom: 20px;
    column-gap: 2rem;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px  #a9adb3;
}

.tabbar > div.tab {
    cursor: pointer;
}

.tabbar > div.tab.active {
    border-bottom: solid 1px  blue;
}

.tabbar > div.tab:hover {
    border-bottom: solid 1px  blue;
}

.tab-content > div {
    display: none;
    min-height: 450px;
}

.tab-content > div.active {
    display: block;
}

.tab-footer {
    border-top: solid 1px  #a9adb3;
}

.tab-footer .group-button {
    margin-top: 20px;
}

.text-header {
    font-size: 18px;
    font-weight: bold;
    margin: 1rem 0 1rem 1rem;
    color: #4fc0eb;
}

.form-group {
    height: auto;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    margin: 5px 1.5rem;
}

.req {
    min-width: 20px;
    height: 5px;
    padding-left: 7px;
    color: red;
    margin-top: 5px;
}

.formLabel {
    font-weight: bold;
    line-height: 32px;
    width: 15%;
    padding: 0px;
    /* display: inline-block; */
    margin-bottom: 5px;
    min-width: 150px;
    /* word-wrap: break-word; */
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 11pt !important;
}

.form-content {
    width: 100%;
}

.form-group .form-content input, textarea, .form-input {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

.form-group .form-content input:focus, .form-input:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: 0 0 0 3px rgba(3, 102 , 214, 0.3);
}

.form-footer {
    border-top: solid 1px  #a9adb3;
}

.modal-header {
    height: 50px;
    width: 100%;
}

.modal-header > h1 {
    border-bottom: solid 1px  #a9adb3;
}

.modal-content {
    height: 450px;
    overflow: auto;
    margin-bottom: 10px;
}

.modal-footer {
    bottom: 0;
    height: 50px;
    border-top: solid 1px  #a9adb3;
}

.modal-footer .form-group {
    margin-bottom: 0px;
    justify-content: flex-end;
    grid-gap: 20px;
}

.mat-dialog-container {
    padding-bottom: 10px !important;
}

.mat-select-trigger {
    width: 320px;
    max-width: 100%;
    margin-right: 5px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

.table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    table-layout: fixed;
}

.table thead tr {
    background-color: #ECF5FF;
    text-align: left;
    display: block;
    position: relative;
}

.table th.action {
    padding: 0 15px;
}

.table th, td {
    padding: 12px 15px;
    letter-spacing: 1px;
}

.table tbody {
    display: block;
    overflow: auto;
    height: 550px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

/* .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table td:nth-child(1), th:nth-child(1) {
     min-width: 140px; 
}

.table td:nth-child(2), th:nth-child(2) { 
    min-width: 250px; 
}

.table td:nth-child(3), th:nth-child(3) { 
    min-width: 285px; 
}

.table td:nth-child(4), th:nth-child(4) { 
    width: 500px; 
}

.table td i.material-icons {
    font-size: 20px;
    cursor: pointer;
}

.table td i.material-icons:first {
    font-size: 20px;
    cursor: pointer;
    /* padding: 0 5px; */
}

.unit-info .table td .mat-select-trigger {
    border-collapse: separate;
    line-height: 16px;
    width: 250px !important;
}

.mat-dialog-container {
    padding-bottom: 0px !important;
}

#AlertModal {
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    /* transition: .3s cubic-bezier(.25,.8,.5,1); */
    position: relative;
    display: block;
    padding: 16px;
    padding-right: 5px;
}

.alert-topbar {
    border-style: solid; 
    border-width: 4px; 
    content: ''; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-color: #ff5252 !important;
}

.alert-wrapper {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alert-wrapper i.material-icons {
    margin-bottom: 25px;
    height: 24px;
    width: 24px;
    color: #ff5252 !important;
    caret-color: #ff5252 !important;
}

.alert-header {
    margin: 10px 10px 15px 10px;
    font-size: 24pt;
    width: 480px;
}

.alert-content {
    margin: 10px;
    font-size: 15pt;
    width: 480px;
}

.alert-close {
    margin-left: 30px;
    padding-top: 6px;
    margin-bottom: 25px;
}

.pointer {
    cursor: pointer;
}

input:disabled {
    border-color: #e1e4e8;
}

.mat-select-disabled > div.mat-select-trigger {
    background-color: #FAFAFA;
}

.text-colorRed {
    color: red;
}

.text-colorBule {
    color: blue;
}