@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
    box-sizing: border-box;
    font-family: 'Athiti';
    /* letter-spacing: 2px; */
    /* font-family: 'RSU'; */
}

body {
    margin: 0;
    background-color: #F6F8FA;
    /* background: #F0F3F7; */
    /* font-family: 'Athiti'; */
}

/* .container {
    width: 100%;
    height: calc(100% - 40px);
    padding-top: 0;
} */

.container-content {
    margin: 20px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 15px;
}
  
mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .container {
    width: calc(100% - 35px);
    height: calc(var(--vh, 1vh)*100);
    margin: 0 2rem;
    background: white;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 0;
} */



/* router-outlet + * {
    padding: 0 16px;
} */

input:focus, button:focus {
    outline: none !important;
}


h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h1, h2 {
    font-weight: bold;
}

p {
    font-size: 14px;
}
a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

input {
    height: 35px;
    font-size: 14px;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #dbdbdb;
}

label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}

/* BUTTON */
button, .button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 10px;
    /* border-radius: .25rem; */
    font-size: 14px;
    cursor: pointer;
    /* background-color: #1976d2; */
    color: #fff;
    border: none;
    min-width: 150px;
    justify-content: center;
    height: 35px;
}

button:hover, .button:hover {
    opacity: 0.8;
    font-weight: normal; 
}

button:disabled, .button.disabled {
    opacity: .65;
    cursor: auto;
}

.button .shadow {
    box-shadow: 0 3px 1px -2px rgb(0, 0, 0, 0.2), 0 2px 2px 0 rgb(0, 0, 0, 1.4), 0 1px 5px 0 rgb(0, 0, 0, 1.2);
}

.blue-button {
    background-color: #4BAEE5;
}

.primary-button {
    background-color: #007bff;
    border-color: #007bff;
}

.success-button {
    background-color: #1e7e34;
    border-color: #1c7430;
}

.orange-button {
    background-color: #F07613;
}

button.warn {
    background-color: #f44336 !important;
}

.light-button {
    color: #212529;
    background-color: #dae0e5;
    border-color: #e6e9ee;
}

.blue-button i.material-icons {
    color: white;
    padding-right: 4px;
}

.groupAction {
    display: flex;
    margin-right: 10px;
}

.groupAction button {
    margin-left: 10px;
}

.groupAction button:first-child mat-icon{
    color: white;
    margin-right: 10px;
}

button.multipleAction {
    height: 35px;
    min-width: 40px;
    background-color: #DDEFF9;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
}

button.multipleAction > mat-icon {
    color: #25A8F8;
}

.top-bar {
    height: 50px;
    width: 100%;
    padding-top: 20px;
    /* border-bottom: 1px solid #a9adb3; */
}

app-top-bar {
    width: 100%;
    height: 40px;
    background-color: #35464F;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

app-top-bar h1{
    color: white;
    margin: 0;
}

app-left-bar {
    height: 100vh;
    width: 10vw;
    background: white;
    display: flex;
    flex-direction: row;
}

/* app-product {
    width: 100%;
    padding: 16px;
} */

.header-menu {
    width: 100%;
    height: 40px;
    /* background: white; */
    /* margin: 0 auto;
    margin: 10px 0; */
    border: none;
    /* padding: 16px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px 0;
}

.header-menu h1 {
    margin: 0;
}

.header-menu h1 > b {
    color: #4BAEE5 !important;
}

.content-menu {
    padding: 10px 30px 0 30px;
}

/* Text */
.txt-l {
    text-align: left;
}

.txt-c {
    text-align: center;
}

.txt-r {
    text-align: right;
}

input[type="checkbox"] {
    display: block;
    margin: 2px 5px 0 0;
    padding: 0;
    width: 16px;
    height: 16px;
    /* background: url(assets/images/blue.png) no-repeat; */
    border: none;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    border-color: blue;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.search > mat-icon {
    margin: 7px 0 0 10px;
    position: absolute;
}

.search input[type="text"] {
    border-radius: 10px;
    padding-left: 40px;
    min-width: 450px;
}

.search input[type="text"]:hover, .search input[type="text"]:focus{
    border-color: #4BAEE5 !important;
}


/* Transition */

/* width */
.w5-vw {
    width: 5vw;
}

.w10-vw {
    width: 10vw;
}

.w20-vw {
    width: 20vw;
}

.w30-vw {
    width: 30vw;
}

.w40-vw {
    width: 40vw;
}

.w45-vw {
    width: 40vw;
}

.w50-vw {
    width: 50vw;
}

.w60-vw {
    width: 60vw;
}

.w70-vw {
    width: 70vw;
}

.w80-vw {
    width: 80vw;
}

.w50-px {
    width: 50px;
}

.w100p {
    width: 100%;
}

/* height */
.h10px {
    height: 10px;
}

.h40px {
    height: 40px;
}

.h50px {
    height: 50px;
}

.h100px {
    height: 100px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.tabbar {
    margin-bottom: 20px;
    column-gap: 2rem;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px  #a9adb3;
}

.tabbar > div.tab {
    cursor: pointer;
}

.tabbar > div.tab.active {
    border-bottom: solid 1px  blue;
}

.tabbar > div.tab:hover {
    border-bottom: solid 1px  blue;
}

.tab-content > div {
    display: none;
    min-height: 450px;
}

.tab-content > div.active {
    display: block;
}

.tab-footer {
    border-top: solid 1px  #a9adb3;
}

.tab-footer .group-button {
    margin-top: 20px;
}

.text-header {
    font-size: 18px;
    font-weight: bold;
    margin: 1rem 0 1rem 1rem;
    color: #4fc0eb;
}

.form-group {
    height: auto;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    margin: 5px 1.5rem;
}

.req {
    min-width: 20px;
    height: 5px;
    padding-left: 7px;
    color: red;
    margin-top: 5px;
}

.formLabel {
    font-weight: bold;
    line-height: 32px;
    width: 15%;
    padding: 0px;
    /* display: inline-block; */
    margin-bottom: 5px;
    min-width: 150px;
    /* word-wrap: break-word; */
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 11pt !important;
}

.form-content {
    width: 100%;
}

.form-group .form-content input, textarea, .form-input {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

.form-group .form-content input:focus, .form-input:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: 0 0 0 3px rgba(3, 102 , 214, 0.3);
}

.form-footer {
    border-top: solid 1px  #a9adb3;
}

.modal-header {
    height: 50px;
    width: 100%;
}

.modal-header > h1 {
    /* border-bottom: solid 1px #a9adb3; */
    border-bottom: solid 1px #eaecef;
}

h1 {
    font-family: 'Athiti' !important;
    color: #4BAEE5 !important;
    font-weight: bold !important;
}

.modal-content {
    height: 450px;
    overflow: auto;
    margin-bottom: 10px;
}

.modal-footer {
    bottom: 0;
    height: 50px;
    border-top: solid 1px  #a9adb3;
}

.modal-footer .form-group {
    margin-bottom: 0px;
    justify-content: flex-end;
    grid-gap: 20px;
}

.mat-dialog-container {
    padding-bottom: 10px !important;
    border-radius: 10px !important;
}

.mat-select-trigger {
    width: 320px;
    max-width: 100%;
    margin-right: 5px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

/************************ TABLE **************************/
.table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 10px;
    table-layout: fixed;
}

/* .table .table-scroll {
    width: min-content;
    overflow-x: scroll;
} */

.table thead {
    padding-right: 20px;
    display: block;
    overflow: hidden;
}

.table thead tr {
    text-align: left;
    display: block;
    position: relative;
}

.table th {
    padding: 0 15px;
}

.table td {
    padding: 2px 15px;
}

.table th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody {
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    height: 450px;
    padding-right: 10px;
}

.table  tbody > tr {
    background-color: #FFFFFF;
    height: 20px;
    margin-top: 20px;
}

.table tbody > tr:hover, .table tbody > tr.active {
    background: #f2f2f2;
}

.table button {
    background: transparent;
    min-width: 50px;
}

.table button > mat-icon {
    color: #B5C2C8;
}

.table mat-checkbox > label {
    margin-bottom: 0px !important;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination > a {
    /* border: solid 1px black; */
    /* width: 50px;
    height: 50px; */
    margin: 0 20px 20px 0;
    text-align: center;
    padding: 10px 18px;
    background-color: white;
    color: #91A5AF;
    font-weight: bold;
    /* box-shadow: 0px 1px 3px 0px rgb(0, 0, 0); */
}

.pagination > a:hover {
    background: #f2f2f2;
}

/* .table td i.material-icons {
    font-size: 20px;
    cursor: pointer;
}

.table td i.material-icons:first {
    font-size: 20px;
    cursor: pointer;
} */

.unit-info .table td .mat-select-trigger {
    border-collapse: separate;
    line-height: 16px;
    width: 250px !important;
}

.mat-dialog-container {
    padding-bottom: 0px !important;
}

#AlertModal {
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    /* transition: .3s cubic-bezier(.25,.8,.5,1); */
    position: relative;
    display: block;
    padding: 16px;
    padding-right: 5px;
}

.alert-topbar {
    border-style: solid; 
    border-width: 4px; 
    content: ''; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-color: #ff5252 !important;
}

.alert-wrapper {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alert-wrapper i.material-icons {
    margin-bottom: 25px;
    height: 24px;
    width: 24px;
    color: #ff5252 !important;
    caret-color: #ff5252 !important;
}

.alert-header {
    margin: 10px 10px 15px 10px;
    font-size: 24pt;
    width: 480px;
}

.alert-content {
    margin: 10px;
    font-size: 15pt;
    width: 480px;
}

.alert-close {
    margin-left: 30px;
    padding-top: 6px;
    margin-bottom: 25px;
}

.pointer {
    cursor: pointer;
}

input:disabled {
    border-color: #e1e4e8;
}

.mat-select-disabled > div.mat-select-trigger {
    background-color: #FAFAFA;
}

.text-colorRed {
    color: red;
    font-weight: bold;
}

.text-colorBule {
    color: #4BAEE5;
    font-weight: bold;
}

/* validation */
input.ng-invalid.ng-touched {
    border: solid 1px red;
    margin-bottom: 0px;
}

mat-select.ng-invalid.ng-touched > div.mat-select-trigger {
    border: solid 1px red;
    margin-bottom: 0px;
}
  
.alert-danger span {
    color: red;
    margin-left: 10px;
}

.summary-footer > div mat-select > div.mat-select-trigger {
    width: 100% !important;
}